/*

Main variables

*/

:root {
  --color-main: 250, 197, 0;
}

/*
  Generic Styles
*/

html,
html * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Rubik', sans-serif;
  color: #000;
}


html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

*, *::before, *::after {
  box-sizing: inherit;
}
*, a {
  color: #ffffff;
}

/*

Container

*/

.container {
  width: 100%;
  margin: auto;
  position: relative;
}

@media (min-width: 640px) {
  .container {
      max-width:640px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:768px
  }
}

@media (min-width: 1024px) {
  .container {
      max-width:1024px
  }
}

@media (min-width: 1280px) {
  .container {
      max-width:1280px
  }
}



/*

Navigation

*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav-wrapper {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background-image: linear-gradient(to bottom, #272727, rgba(88, 88, 88, 0) 80%);
}
.nav-wrapper .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .menu .logo-text-wrapper {
  float: right;
}

.nav-wrapper .menu .logo-text {
  color: #000;
  font-size: 15px;
  font-weight: 900;
  white-space: pre;
  margin-left: 1rem;
  padding: 5px 10px;
  line-height: .75rem;
  background-color: rgba(var(--color-main), 1);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.nav-wrapper .menu .item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  transition: all ease-in 0.1s;
}

.nav-wrapper .menu .link {
  display: none;
}

.nav-wrapper .menu .back {
  color: rgba(var(--color-main), 1);
  white-space: nowrap;
  display: none;
}

.nav-wrapper .menu .item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(var(--color-main), .25);
}


@-moz-document url-prefix() {
  .nav-wrapper .menu .logo-text-wrapper {
    padding-right: 30px; /* Fixes an issue with box-decoration-break: clone; */
  }
}

@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
  .nav-wrapper .menu .link {
    display: block;
  }
}

@media (min-width: 1280px) {
  .nav-wrapper .menu .item {
    padding: 2rem;
  }
}

@media (min-width: 1450px) {
  .nav-wrapper .menu .back {
    display: block;
  }
}

/*

Responsive Nav

*/

.navmenu-dropdown {
  background: #212121;
  border-top: 2px solid #262626;
  box-shadow: -3px 3px 6px rgb(0 0 0 / 50%);
  margin: 0;
  opacity: 0;
  overflow: visible;
  position: fixed;
  height: 100%;
  text-align: left;
  transform: translateY(-5%);
  top: 0px;
  right: 0;
  visibility: hidden;
  width: 460px;
  z-index: 10;
  transition: transform 300ms, opacity 300ms;
}

.navmenu-dropdown.active {
  visibility: visible;
  transform: translateX(0%);
  opacity: 1;
}

.navmenu-link {
  position: relative;
  display: block;
  font-weight: 900;
  padding: 20px;
  text-transform: uppercase;
}

.navmenu-close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 20;
}

/*

Hero Section

*/
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.hero picture {
  display: grid;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero .title-wrapper {
  display: grid;
}

.hero .title {
  display: inline-block;
}

.hero .line1 span {
  font-size: 5rem;
  box-shadow:inset 0px 0px 0px 5px rgba(var(--color-main), 1);
  padding: 0 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(var(--color-main), 1);
  line-height: initial;
}

.hero .line2 span {
  font-size: 3rem;
  font-weight: 900;
  background: #000;
  color: rgba(var(--color-main), 1);
  padding: .5rem 2rem;
}

.hero .line3 span {
  display: inline-block;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  padding: .5rem 2rem;
  word-wrap: normal;
}

@media (min-width: 768px) {
  .hero .line1 span {
    font-size: 7rem;
  }
  .hero .line2 span {
    font-size: 4rem;
  }
  .hero .line3 span {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero .line1 span {
    font-size: 140px;
    padding: 0 50px;
    margin-left: -50px;
  }
  .hero .line2 span {
    font-size: 65px;
    padding: 10px 36px;
  }
  .hero .line3 span {
    font-size: 54px;
    padding: 10px 0;
  }
}


/*

Tagline Section

*/
.tagline .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 4rem 0 ;
}

.tagline .quotes {
  height: 90px;
  width: 90px;
  margin: 0rem 2rem 0rem 1rem;
}

.tagline .content {
  margin: -75px 2rem 2rem 2rem;
}

.tagline .title {
  font-size: 32px;
  font-weight: bold;
}

.tagline img {
  margin-top: -100px;
}


@media (min-width: 768px) {
  .tagline .container {
    flex-direction: row;
  }
  .tagline picture {
    min-width: 200px;
  }
  .tagline .quotes {
    margin: 1.5rem auto 0 0;
  }
}
